/* You can add global styles to this file, and also import other style files */
.user{
    line-height: 28px;
    &__actions{
        span{
            font-size: 28px;
            margin: 0px 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}